00 03 * * * mopidyctl local scan
00 04 * * * systemctl restart mopidy
00 00 * * * python3 /etc/named.d/update-zonefile.py /etc/named.d/adblock.home adblock.home 1>/var/log/adblock-update.log 2>/var/log/adblock-update.err
